<?xml version="1.0" encoding="UTF-8"?>
<!-- $Id: beans1.xml,v 1.3 2006/08/20 19:08:40 jhoeller Exp $ -->
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
<bean id="add1" class="com.lara.Address">
<property name="House_No" value="1212/1B34"/>
<property name="Street_Name" value="3rd Cross"/>
</bean>
<bean id="p1" class="com.lara.Person">
<property name="firstName" value="abc"/>
<property name="lastName" value="xyz"/>
<property name="Age" value="23"/>
<property name="MobileNo">
<list>
<value>908402394</value>
<value>926367348</value>
<value>893848843</value>
<value>982389483</value>
</list>
</property>
<property name="LoverNames">
<set>
	<value>java</value>
	<value>j2ee</value>
	<value>hadoop</value>
</set>	
</property>
<property name="educations">
<map>
<entry key="degree" value="B.Tech"/>
<entry key="diploma" value="ITI"/>
</map>	
</property>
<property name="projects">
<props>
<prop key="mini">HDFC Bank</prop>
<prop key="major">City Bank</prop>
</props>
</property>
<property name="permanentAdress"  ref="add1"/>
</bean>
</beans>
